@import '~@jetbrains/ring-ui/components/global/global';

.issues-list-widget {
  color: var(--ring-text-color);

  &__issue {
    position: relative;

    overflow-x: hidden;

    margin: 0 -4px;

    padding: 4px;

    line-height: 20px;

    &_expanded {
      background-color: var(--ring-content-background-color);
      box-shadow: 0 1px 4px var(--ring-borders-color);
    }
  }

  &__issue-info {
    display: inline-block;

    padding-right: 2 * $ring-unit;
    padding-left: 3 * $ring-unit;
  }

  &__issue-expanded-block {
    margin-bottom: 2px;
    margin-left: 20px;
  }

  &__colored-field {
    position: absolute;
    top: 6px;

    display: inline-block;

    width: 15px;
    height: 13px;

    cursor: default;

    text-align: center;
    vertical-align: text-bottom;
    white-space: nowrap;

    border: 1px solid transparent;
    border-radius: 2px;

    background-color: var(--ring-sidebar-background-color);

    font-size: 10px;

    line-height: 13px;
  }

  &__issue-toggler {
    position: absolute;
    top: 2px;
    right: 0;

    display: none;

    width: 3 * $ring-unit;

    cursor: pointer;

    white-space: nowrap;

    background-color: var(--ring-content-background-color);

    .issues-list-widget__issue_highlighted & {
      display: inline-block;
    }

    .issues-list-widget__issue_expanded & {
      top: 0;

      display: inline-block;
    }
  }

  &__issue-id {
    white-space: nowrap;
  }

  .issues-list-widget__issue-id.issues-list-widget__issue-id_resolved {
    text-decoration: line-through;

    color: var(--ring-secondary-color);
  }

  &__issue-summary {
    margin-left: $ring-unit;
  }

  .issues-list-widget__issue-summary.issues-list-widget__issue-summary_resolved {
    color: var(--ring-secondary-color);
  }

  &__fields {
    display: table;

    min-width: $ring-unit * 20;
    max-width: $ring-unit * 50;

    padding: 2px 6px 0 4px;

    text-align: left;

    font-size: var(--ring-font-size-smaller);
  }

  &__field-row {
    display: table-row-group;
  }

  &__field {
    display: table-row;

    padding: 0 6px;

    &-title {
      display: table-cell;

      padding-right: $ring-unit*2;
      padding-bottom: 2px;

      color: var(--ring-secondary-color);
    }

    &-value {
      display: table-cell;
    }

    &-avatar {
      position: relative;
      top: 5px;

      width: 2 * $ring-unit;
      height: 2 * $ring-unit;

      margin-top: -$ring-unit;
      margin-left: $ring-unit;

      border-radius: 3px;
    }

    &-color {
      position: static;

      height: 12px;

      margin-left: $ring-unit;
    }
  }

  &__filter {
    margin: 0 0 $ring-unit 4px;
  }

  &__filters-switcher {
    margin: $ring-unit 0;
  }

  &__no-filters {
    margin: $ring-unit 4px;

    color: var(--ring-secondary-color);
  }

  &__filters-list {
    min-height: 4 * $ring-unit;
    margin-bottom: 6 * $ring-unit;
  }

  $search-context-width: $ring-unit * 12;

  &__search-context {
    display: inline-block;
    float: left;

    width: $search-context-width;

    & [data-test="ring-select__button"] {
      border-radius: 3px 0 0 3px;
    }
  }

  &__search-query {
    width: 100%;
    width: calc(100% - #{$search-context-width});

    margin-left: $search-context-width;

    vertical-align: top;
  }

  &__load-more {
    margin: 4px 0;
    padding: 4px 0;

    text-align: center;

    border: 1px dashed var(--ring-borders-color);
    border-radius: 3px;

    font-size: var(--ring-font-size-smaller);

    &:hover {
      border-color: var(--ring-pale-control-color);
    }
  }
}
